<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>servelt1</servlet-name>
        <servlet-class>servlet.example.servelt1</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/recursos/info</param-value>
        </init-param>
        <init-param>
            <param-name>dimension</param-name>
            <param-value>30</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>servlet.example.servlet2</servlet-class>
        <init-param>
            <param-name>emailDefault</param-name>
            <param-value>rayasbatalla@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>param2</param-name>
            <param-value>34</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servlet3</servlet-name>
        <servlet-class>servlet.example.servlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servelt1</servlet-name>
        <url-pattern>/servelt1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet3</servlet-name>
        <url-pattern>/servlet3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>parametroContexto</param-name>
        <param-value>"valorParametro"</param-value>
    </context-param>
</web-app>
